/************************����ͷ****************************/
.headertop{
    width: 100%;
    height: 30px;
    background:#f1f1f1;
    z-index: 99;
}
.headerwarp{
    width: 1100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.headerwarp .left{
    line-height: 30px;
    width:300px;
    display: inline-block;
}
.headerwarp .left a{
    color:#369;

}
.headerwarp .left a.lnkreg{
    color: #f40;
}
.headerwarp .center{
    height: 30px;
    width: 380px;
    line-height: 30px;
    display: inline-block;
}
.headerwarp .center a{
    color: #e52871;
    display:inline-block;
    height: 30px;
    margin: 0 2px;
    text-align: right;
}
.headerwarp .center a i.icon_cn{
    height: 20px;
    width:20px;
    margin: 4px 6px  0 0;
    background: url('../img/i/common_icon.png') no-repeat 0 -77px;
}
.headerwarp .center a i.icon_ty{
    height: 20px;
    width:20px;
    margin: 4px 6px  0 0;
    background: url('../img/i/common_icon.png') no-repeat -20px -77px;
}
.headerwarp .center a i.icon_zz{
    height: 20px;
    width:20px;
    margin: 4px 6px  0 0;
    background: url('../img/i/common_icon.png') no-repeat -40px -77px;
}
.headerwarp .right{
    height: 30px;
    width: 410px;
    line-height: 30px;
    display: inline-block;
}
.headerwarp .right a{
    display: inline-block;
    height: 30px;
    margin: 0 15px;
    color: #369;
}
.headerwarp .right a:first-child{
    margin-left: 20px;
    color: #fd5123;
}
.headerwarp .right a:first-child>em {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: -4px;
    background: url('../img/icogather.png') no-repeat -1px -54px;
}
.headerwarp .right span{
    display: inline-block;
    margin-right: 20px;
}
.headerwarp .right span>em{
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    background: url('../img/icogather.png') no-repeat 0px -36px;
}
.headcenter{
    width: 100%;
    margin-top: 30px;
}
.hdcenterwrap{
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}
.hdcenterwrap{
    width: 1100px;
    margin: 0 auto;
    height: 90px;
    padding-top: 10px;
}
.hdcenterwrap .logo{
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}
.hdcenterwrap .search{
    display: inline-block;
    width: 560px;
    height: 50px;
    text-align: center;
}
.hdcenterwrap .search input{
    width: 360px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #e52178;
    text-indent: 1em;
}
.hdcenterwrap .search button{
    width: 100px;
    height: 36px;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    background: #e52178;
    border: 2px solid #e52178;
    position: relative;
    top: 3px;
    left: -5px;
}
.hdcenterwrap>a{
    width: 100px;
    text-align: center;
    display: inline-block;
    line-height: 34px;
    border: 1px solid #ccc;
    margin-right: 15px;
    vertical-align: middle;
    padding: 0 20px;
    background: #fefefe;
    color: #3e4141;
}
.hdcenterwrap>a>em{
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background: url(../img/icogather.png) no-repeat -25px -35px;
}
.hdcenterwrap>a em+em{
    background: url(../img/icogather.png) no-repeat -52px -35px;
}
.headNav{
    width: 100%;
    height: 38px;
    border-bottom: 1px solid #e52871;
    box-sizing: border-box;
    margin: 0 auto;
}
.navwrap{
    width: 1100px;
    margin: 0 auto;
}
.navwrap ul{
    width: 900px;
    display: flex;
    justify-content: flex-start;
    line-height: 38px;
    font-size: 16px;
}
.navwrap ul li a{
    display: inline-block;
    width: 150px;
    height: 38px;
    text-align: center;
    font-family: "微软雅黑";
}
.navwrap li a:hover, .navwrap li a.active {
    color: #e52178;
}
/****************下拉菜单******************/
ul.nav-submenu{
    float: left;
    width: 152px;
    height: 0px;
    display: block;
    background: rgba(255,255,255,0.7);
    overflow: hidden;
    transition: all .7s ease .2s;
    position: relative;
    z-index: 9999;
    top: -1px;
    border-bottom:1px solid #e52871;
    box-sizing: border-box;
}
ul.nav-submenu>li{
    display: inline-block;
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-family: "微软雅黑";
    border-top: 1px dotted #f5b1cf;
    border-left:1px solid #e52871;
    border-right:1px solid #e52871;
}
